* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 1rem;
}
body {
  font-family: "Red Hat Display", sans-serif;
}
.box {
  transition: var(--mainTransition);
}

/* global variables */
:root {
  --firstColor: hsl(225, 100%, 94%);
  --secondColor: hsl(245, 75%, 52%);
  --thirdColor: hsl(225, 100%, 98%);
  --forthColor: hsl(223, 47%, 23%);
  --mainTransition: 0.35s;
}
/* global variables */

.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: url(images/pattern-background-desktop.svg) no-repeat;
}

.container .box {
  background-color: #ffffff;
  width: 28.125rem;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0.0625rem 0.0625rem 1.25rem 0rem #00000029,
    -0.0625rem -0.125rem 1.25rem 0 #00000045;
}
@media (max-width: 767px) {
  .container .box {
    width: 21.25rem;
  }
}
.container .box .details {
  padding: 3.125rem;
  text-align: center;
}
@media (max-width: 767px) {
  .container .box .details {
    padding: 1.875rem;
    text-align: center;
  }
}
.container .box .details .info h3 {
  font-size: 1.625rem;
  margin: 0.625rem auto;
  font-weight: bold;
}
.container .box .details .info p {
  color: var(--forthColor);
  margin: 0.9375rem auto;
  line-height: 1.4;
}
.container .box .details .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fe;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.container .box .details .plan .name {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}
.container .box .details .plan .name span {
  color: #777;
  font-size: 0.875rem;
}
.container .box .details .plan > a {
  color: var(--secondColor);
  transition: var(--mainTransition);
}
.container .box .details .plan > a:hover {
  color: #766cf1;
}
.container .box .details .button {
  width: 100%;
  margin: 2.5rem auto;
}
@media (max-width: 767px) {
  .container .box .details .button {
    width: 100%;
    margin: 1.25rem auto -1.875rem;
  }
}

.container .box .details .button > a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.9375rem 6.25rem;
  background-color: #382ae1;
  border-radius: 0.625rem;
  transition: var(--mainTransition);
}
.container .box .details .button:hover > a {
  background-color: #766cf1;
}
@media (max-width: 767px) {
  .container .box .details .button > a {
    display: block;
    padding: 0.9375rem 2.5rem;
  }
}
.container .box .details > a {
  display: block;
  color: #6d7598;
  text-decoration: none;
  margin: 3.125rem auto 0;
  transition: var(--mainTransition);
  font-weight: bold;
}
.container .box .details > a:hover {
  color: #0b0f18;
  font-weight: bold;
}

.attribution {
  color: var(--forthColor);
  font-size: 0.9375rem;
  text-align: center;
  position: absolute;
  bottom: 0rem;
  width: 100%;
}
.attribution a {
  color: var(--secondColor);
  text-decoration: none;
  font-weight: bold;
}
